*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Smythe", system-ui;
} 

header{
    background-color: brown;
    background-image: url('images/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 167px;
    width: 600px;
}

h2{
    font-size: 28px;
    margin: 0;
    font-weight: 400;
}

h3, p{
    margin: 0;
    margin-top: 7px;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

p{
    color: #8B8B8B;
    font-size: 20px;
}

.item-details{
    width: 300px;
    padding: 0;
}

.container{
    border: 1px solid black;
    width: 600px;
    height: 1200px;
    margin: 0 auto;
}

section{
    width: 508px;
    height: 140px;
    margin: 67px auto;
    border-bottom: 1px solid #D2D2D2;
    padding-top: 5px;
}

section:last-child{
    margin-bottom: 0;
}

.item{
    display: flex;
    justify-content: space-between;
}

.item-img{
    height: 75px;
    width: 75px;
}

.add-btn{
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    color: #3C3C3C;
    background-color: white;
    padding: 8px 16px;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-align: center;
}

.bill{
    width: 508px;
    height: 319px;
    margin: 45px auto;
}

.bill p{
    color: black;
}

.title{
    text-align: center;
    margin-bottom: 40px;
}

.order-items{
    border-bottom: 2px solid black;
}

.order-item, .total-price{
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 15px 0;
}

.total-price{
    margin-bottom: 40px;
}

.complete-order-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 20px 0;
    color: white;
}

.remove{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: none;
    color: #BBBBBB;
    background-color: white;
    margin-right: 370px;
}

.msg{
    text-align: center;
    padding: 30px;
    background-color: #ECFDF5;
    width: 506px;
    margin: 0 auto;
}

.msg p{
    font-size: 32px;
    color: #065F46;
}